{% extends 'core/base.html' %}


{% block content %}
  

  

<div class="container mt-5">
  <!-- <button type="button" class="btn btn-primary" href=>Add Task</button> -->
  <a href="{% url 'add_task' %}" class="btn btn-primary">Add Task</a>
  <!-- <a href="" class="d-flex justify-content-end">dsf</a> -->
  
  {% if user.is_authenticated %}
  <div class="container d-flex justify-content-end">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        {{ user.get_username }}
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
      </ul>
    </div>
  </div>
  {% endif %}
    
  
  <div class="row mt-5">
    <div class="col">
      <h1>Completed List</h1>
      <ul class="list-group">
        <li class="list-group-item">An item <a href="" class="btn btn-danger ml-auto">Delete</a></li>
        <li class="list-group-item">A second item <a href="" class="btn btn-danger ml-auto">Delete</a></li>
        <li class="list-group-item">A third item <a href="" class="btn btn-danger ml-auto">Delete</a></li>
        <li class="list-group-item">A fourth item <a href="" class="btn btn-danger ml-auto">Delete</a></li>
        <li class="list-group-item">And a fifth one <a href="" class="btn btn-danger ml-auto">Delete</a></li>
      </ul>
    </div>

    <div class="col">
      <h1>Upcomming List</h1>
      <ul class="list-group">
        
        {% for upcom in upcom %}
        <li class="list-group-item">{{upcom.name}}<a href="" class="btn btn-danger ml-auto">Delete</a></li>
        
        {% endfor %}
          
        
      </ul>
    </div>

    <div class="col">
      <h1>Time Expired List</h1>
      <ul class="list-group">
        <li class="list-group-item">An item <a href="" class="btn btn-danger ml-auto">Delete</a></li>
        <li class="list-group-item">A second item<a href="" class="btn btn-danger ml-auto">Delete</a></li>
        <li class="list-group-item">A third item<a href="" class="btn btn-danger ml-auto">Delete</a></li>
        <li class="list-group-item">A fourth item<a href="" class="btn btn-danger ml-auto">Delete</a></li>
        <li class="list-group-item">And a fifth one<a href="" class="btn btn-danger ml-auto">Delete</a></li>
      </ul>
    </div>
  </div>
</div>

{% endblock content %}