{% extends 'core/base.html' %}


{% block content %}
  

  

<div class="container mt-5">
  <!-- <button type="button" class="btn btn-primary" href=>Add Task</button> -->
  <a href="{% url 'add_task' %}" class="btn btn-primary">Add Task</a>
  <!-- <a href="" class="d-flex justify-content-end">dsf</a> -->
  
  {% if user.is_authenticated %}
  <div class="container d-flex justify-content-end">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        {{ user.get_username }}
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
      </ul>
    </div>
  </div>
  {% endif %}
    
  
  <div class="row mt-5">
    <div class="col">
      <h1>Completed List</h1>
      <ul class="list-group">
        
        <!-- {% for compl in compl %}
        
        <li class="list-group-item">{{compl.name}}<a href="{% url 'delete_task' compl.id %}" class="btn btn-danger ml-auto">Delete</a></li>
        {% endfor %} -->

        {% for compl in upcom_true  %}
        
        <li class="list-group-item">{{compl.name}}<a href="{% url 'delete_task' compl.id %}" class="btn btn-danger ml-auto">Delete</a></li>
        {% endfor %}

      </ul>
    </div>

    <div class="col">
      <h1>Upcoming List</h1>
      <ul class="list-group">
        
        <!-- {% for upcom in upcom %}
        <li class="list-group-item">{{upcom.name}}<a href="{% url 'completed'  upcom.id %} " class="btn btn-success ml-auto">Done</a></li>
        
        {% endfor %} -->

        {% for upcom in upcom_false %}
        <li class="list-group-item">{{upcom.name}}<a href="{% url 'completed'  upcom.id %} " class="btn btn-success ml-auto">Done</a></li>
        
        {% endfor %}
          
        
      </ul>
    </div>

    <div class="col">
      <h1>Time Expired List</h1>
      <ul class="list-group">
        
        {% for expired_todos in expired_todos %}
        <li class="list-group-item">{{expired_todos.name}}<a href="" class="btn btn-danger ml-auto">Delete</a></li>
        
        {% endfor %}
          
      </ul>
    </div>
  </div>
</div>

{% endblock content %}