{% extends 'core/base.html' %}


{% block container %}
  

  

<div class="container mt-5">
  <button type="button" class="btn btn-primary">Add Task</button>
  <div class="row mt-5">
    <div class="col">
      <h1>Completed List</h1>
      <ul class="list-group">
        <li class="list-group-item">An item <a href="" class="btn btn-danger ml-auto">Delete</a></li>
        <li class="list-group-item">A second item <a href="" class="btn btn-danger ml-auto">Delete</a></li>
        <li class="list-group-item">A third item <a href="" class="btn btn-danger ml-auto">Delete</a></li>
        <li class="list-group-item">A fourth item <a href="" class="btn btn-danger ml-auto">Delete</a></li>
        <li class="list-group-item">And a fifth one <a href="" class="btn btn-danger ml-auto">Delete</a></li>
      </ul>
    </div>

    <div class="col">
      <h1>Upcomming List</h1>
      <ul class="list-group">
        <li class="list-group-item">An item <a href="" class="btn btn-danger ml-auto">Delete</a></li>
        <li class="list-group-item">A second item <a href="" class="btn btn-danger ml-auto">Delete</a></li>
        <li class="list-group-item">A third item <a href="" class="btn btn-danger ml-auto">Delete</a></li>
        <li class="list-group-item">A fourth item <a href="" class="btn btn-danger ml-auto">Delete</a></li>
        <li class="list-group-item">And a fifth one <a href="" class="btn btn-danger ml-auto">Delete</a></li>
      </ul>
    </div>

    <div class="col">
      <h1>Time Expired List</h1>
      <ul class="list-group">
        <li class="list-group-item">An item <a href="" class="btn btn-danger ml-auto">Delete</a></li>
        <li class="list-group-item">A second item<a href="" class="btn btn-danger ml-auto">Delete</a></li>
        <li class="list-group-item">A third item<a href="" class="btn btn-danger ml-auto">Delete</a></li>
        <li class="list-group-item">A fourth item<a href="" class="btn btn-danger ml-auto">Delete</a></li>
        <li class="list-group-item">And a fifth one<a href="" class="btn btn-danger ml-auto">Delete</a></li>
      </ul>
    </div>
  </div>
</div>

{% endblock container %}